<link rel="stylesheet" href="css/header.css">

<header>
  <div class="menu-lateral">
    <ul>
      <li onclick="abrirPainel('inicio')">Início</li>
      <li onclick="abrirPainel('como-jogar')">Como Jogar</li>
      <li onclick="abrirPainel('config')">Configurações</li>
    </ul>
  </div>

  <!-- Painéis deslizantes -->
  <div id="painel-inicio" class="painel">Bem-vindo ao jogo!</div>
  <div id="painel-como-jogar" class="painel">Aqui você aprende a jogar.</div>
  <div id="painel-config" class="painel">Configurações do jogo.</div>
</header>

<script src="js/menu.js"></script>
