/* Menu fixo lateral esquerdo */
body {
    background: black url('Floresta.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Luckiest Guy', sans-serif;
}

.menu-lateral {
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 100vh;
    background-color: #1d6d60;
    color: white;
    padding: 20px;
    z-index: 1000;
  }
  
  .menu-lateral ul {
    list-style: none;
    padding: 0;
  }
  
  .menu-lateral li {
    margin: 20px 0;
    cursor: pointer;
    font-weight: bold;
  }
  
  /* Painel deslizante */
  .painel {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #222;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    z-index: 100;
  }
  
  .painel.ativo {
    left: 60px; /* Ajusta conforme a largura do menu-lateral */
  }  
  
  /* Conteúdo central */
  .conteudo {
    margin-left: 200px;
    padding: 50px;
    text-align: center;
  }
  
  .conteudo h1 {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .conteudo h1 span {
    display: block;
    font-size: 2.5rem;
    color: #1d6d60;
  }
  
  .jogar {
    font-family: 'Luckiest Guy', sans-serif;
    text-shadow: 
    1px 1px 0px #000, /* contorno superior e à direita */
    -1px -1px 0px #000, /* contorno inferior e à esquerda */
    1px -1px 0px #000, /* contorno superior e à esquerda */
    -1px 1px 0px #000; /* contorno inferior e à direita */
    padding: 20px 150px;
    font-size: 40px;
    font-weight: 900;
    background-color: #ff6a00;
    border: 1px solid black;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
  }

  .ImagemTitulo {
    text-align: center; /* Centraliza o conteúdo */
    position: relative;
  }
  
  .ImagemTitulo img {
    width: 20%; /* Ajuste a largura da imagem */
    max-height: 250px; /* Defina a altura máxima da imagem */
    object-fit: cover; /* A imagem se ajusta sem distorção */ /* Espaçamento entre a imagem e o título */
  }
  
  .ImagemTitulo h1 {
    font-size: 60px;
    color: #ff6a00; /* Exemplo de cor verde */
    margin-top: 0;
    text-shadow: 
    1px 1px 0px #000, /* contorno superior e à direita */
    -1px -1px 0px #000, /* contorno inferior e à esquerda */
    1px -1px 0px #000, /* contorno superior e à esquerda */
    -1px 1px 0px #000; /* contorno inferior e à direita */
  }
  
  